<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="keywords" content="{{ page.title }},php,mysql,swift,javascript,html,linux,woowen博客,blog,woowen">
  <meta name="description" content="woowen's blog,网络编程,blog,it博客,网络技术,开发技术,移动开发,数据库,linux,php,swift,技术博客,项目管理,吴文的技术博客,蘑菇街">
  <meta name="author" content="吴文">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <!-- CSS -->
  <!--link rel="stylesheet" type="text/css" href="http://woowen.qiniudn.com/poole.min.css" >
  <link rel="stylesheet" type="text/css" href="http://woowen.qiniudn.com/lanyon.min.css">
  <link rel="stylesheet" type="text/css" href="http://woowen.qiniudn.com/pygment.min.css">
  <link rel="stylesheet" type="text/css" href="http://woowen.qiniudn.com/font.min.css">  
  <link rel="stylesheet" type="text/css" href="http://woowen.qiniudn.com/fontawesome.min.css">  
  <link rel="stylesheet" type="text/css" href="http://woowen.qiniudn.com/timeline.min.css"-->
  <link rel="stylesheet" type="text/css" href="/public/css/poole.min.css" >
  <link rel="stylesheet" type="text/css" href="/public/css/lanyon.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/pygment.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/font.min.css">  
  <link rel="stylesheet" type="text/css" href="/public/css/fontawesome.min.css">  
  <link rel="stylesheet" type="text/css" href="/public/css/timeline.min.css">
  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
