<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body>   
    {% include sidebar.html %}
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
              <a href="{{site.rss}}" target="_blank" class="icons" style="margin-left:15px;"><i class="fa fa-rss"></i></a>
              <a href="{{site.github}}" target="_blank" class="icons"><i class="fa fa-github"></i></a>
          </h3>          
        </div>        
      </div>      
      
        <ul class="entry-meta inline-list" style="text-align: center;">
        {% if page.url == '/' %}
          {% for cat in site.categories %}
            <li><a href="categories/#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}" class="tag">{{ cat[0] }}<span>{{ cat[1].size }}</span></a></li>
          {% endfor %}
          {% endif %}  
        </ul>            
      <div class="container content" {% if page.url != '/' %}style="margin-top:2rem"{% endif %}>
        {{ content }}
      </div>
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <!-- 百度统计 -->
    <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F87749981b3575ef8d096d28051c568fb' type='text/javascript'%3E%3C/script%3E"));
</script>

  </body>
</html>
