---
layout: default
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
  <span><i class="fa fa-clock-o"></i> {{ page.date | date: "%Y-%m-%d"  }}</span>
  <span class="extra-right"><i class="fa fa-tags"></i> {{ page.tags | array_to_sentence_string }}
</span>
  </div>
  {{ content }}
</div>
{% if site.related_posts.size %}
    <div class="read-more">
      {% for post in site.related_posts limit:1 %}
        <div class="read-more-header">
          <a href="{{ page.previous.url }}" class="read-more-btn">Read More</a>
        </div><!-- /.read-more-header -->
        <div class="read-more-content">
          <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title}}</a></h3>          
        </div><!-- /.read-more-content -->
      {% endfor %}
      <div class="read-more-list">
        {% for post in site.related_posts limit:2 offset:1 %}
          <div class="list-item">
            <h4><a href="{{ post.url }}" title="{{ post.title }}">{{post.title}}</a></h4>
            <span><i class="fa fa-clock-o"></i>  {{ post.date | date: "%Y-%m-%d" }}</span>
          </div><!-- /.list-item -->
        {% endfor %}
      </div><!-- /.read-more-list -->
      {% endif %}
    </div><!-- /.read-more -->

<!-- 评论插件开始 -->
<!--PC和WAP自适应版-->
<div id="SOHUCS" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cysUARYpW'; 
var conf = 'prod_5991c5e2fa39562a9ff9d5f39318330e'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>

<!-- 评论插件结束 -->